:root {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  transition: all 0.2s ease-in-out;
  font-family: 'DM Serif Display', serif;
  font-family: 'Rubik', sans-serif;
}